<section>
  <h1>Budget App</h1>
  <p>Manage your Finance</p>
  <button class="log-in"><%= link_to "LOG IN", new_user_session_path %></button>
  <button class="sign-up"><%= link_to "SIGN UP", new_user_registration_path %></button>
</section>